.site-footer {
    background-color: #050506;
    padding: 12px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    margin-top: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.10
}

.site-footer p {
    color: #737373;
    font-size: 13px;
    text-align: center;
}

.copyright-text {
    margin: 0
}